
  <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
      <div id= "form">
       <form action=""name="contact">
  <fieldset>
    <legend>Contact Form</legend>
    Name:<br>
    <input type="text" name="name" value="">
    <br>
    Email:<br>
    <input type="text" name="email" value="">
    <br>
    Question:<br>
  <textarea rows="4" cols="30">
    </textarea>
    <br><br>
 <button onclick="validateform()">Submit</button>
  </fieldset>
</form>
</div>